*.pyc
.cache
__pycache__
*.egg-info
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
devenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Webclient Angular 2
webui/app/**/*.js
webui/app/**/*.map
webui/node_modules
webui/typings

# ide
.idea
