pytest
flask
bintrees
devp2p
werkzeug
ethereum
gevent==1.1.0
raiden
secp256k1==0.12.1  # FIXME only temporary to remove installation failures
rlp==0.4.6  # FIXME only temporary to remove installation failures
enum34
# TODO move to develop requirements later on
noise
tinydb
flask_cors
