<p-dataTable [value]="trades" [rows]="20" scrollable="true" scrollHeight="350px"
             styleClass="borderless">
  <p-header> Limit Orders</p-header>
  <!--<p-column field="timestamp" header="Time" [sortable]="true"
            [style]="{'font-size': '11px', 'text-align': 'center'}">
    <template let-col let-data="rowData" pTemplate type="body">
      <span>{{data.timestamp | date: 'HH:mm:ss'}}</span>
    </template>
  </p-column> -->
  <!--<p-column field="type" header="Type" styleClass="text-center"-->
            <!--[style]="{'width': '20px','font-size': '11px', 'text-align': 'center'}">-->
    <!--<template let-col let-data="rowData" pTemplate type="body">-->
      <!--<div *ngIf="(data.type == 0); else elseBlock" class="green-text">BUY</div>-->
      <!--<ng-template #elseBlock><div class="red-text">SELL</div></ng-template>-->
    <!--</template>-->
  <!--</p-column>-->
  <p-column field="price" styleClass="text-right" header="Price" [sortable]="true"
            [style]="{'width': '30px', 'font-size': '11px', 'text-align': 'right'}">
  </p-column>
  <p-column field="filled" styleClass="text-right" header="%" [sortable]="true"
            [style]="{'width': '30px', 'font-size': '11px', 'text-align': 'right'}">
  </p-column>
</p-dataTable>
