<div class="container-fluid">
    <div class="row">
      <p-dataTable [value]="bids" [rows]="7" [paginator]="true" [pageLinks]="0"
                   styleClass="borderless">
        <p-header>Bids</p-header>
        <p-column field="amount" header="Amount"
                  [style]="{width: '50px', 'text-align': 'right'}"></p-column>
        <p-column field="price" header="Price"
                  [style]="{width: '50px', 'text-align': 'right'}"></p-column>
      </p-dataTable>
    </div>
    <div class="row">
      <p-dataTable [value]="asks" [rows]="7" [paginator]="true" [pageLinks]="0"
                   styleClass="borderless">
        <p-header>Asks</p-header>
        <p-column field="amount" header="Amount"
                  [style]="{width: '50px', 'text-align': 'right'}"></p-column>
        <p-column field="price" header="price"
                  [style]="{width: '50px', 'text-align': 'right'}"></p-column>
      </p-dataTable>
    </div>
</div>
