<div class="container-fluid">
  <div class="row">
    <div class="row">
      <p-dataTable [value]="buys" scrollable="true" scrollHeight="300px" [rows]="14"
                   virtualScroll="virtualScroll" styleClass="borderless">
        <p-header>Bids</p-header>
        <p-column field="amount" header="Amount"
                  [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="price" header="Price"
                  [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
      </p-dataTable>
    </div>
    <div class="row">
      <p-dataTable [value]="sells" scrollable="true" scrollHeight="300px" [rows]="14"
                   virtualScroll="virtualScroll" styleClass="borderless custom-scrollbar">
        <p-header>Asks</p-header>
        <p-column field="amount" header="Amount"
                  [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="price" header="Price"
                  [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>
