<div class="container-fluid">
  <p-dataTable [value]="orderHistory" [rows]="7" [paginator]="true" [pageLinks]="0"
      styleClass="borderless">
      <p-header>Trade History</p-header>
      <p-column field="timestamp" header="Time" [sortable]="true"
      [style]="{'text-align': 'center'}">
        <template let-col let-data="rowData" pTemplate type="body">
          <span>{{data.timestamp | date: 'HH:mm:ss'}}</span>
        </template>
      </p-column>
      <p-column field="type" header="Type" styleClass="text-center"
      [style]="{ 'text-align': 'center'}">
        <template let-col let-data="rowData" pTemplate type="body">
          {{ data.type == 0 ? "BUY" : "SELL" }}
        </template>
      </p-column>
      <p-column field="amount" styleClass="text-right" header="Amount" [sortable]="true"
      [style]="{ 'text-align': 'center'}">
      </p-column>
      <p-column field="price" styleClass="text-right" header="Price" [sortable]="true"
      [style]="{ 'text-align': 'center'}">
      </p-column>
  </p-dataTable>
</div>
