<div class="container-fluid">
  <md-tab-group>
    <md-tab label="Buy">
      <h6>Submit Buy Orders</h6>
      <form>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container>
                <input mdInput type="number" id="amount" name="amount"
                       [(ngModel)]="buyOrder.amount" placeholder="Amount">
              </md-input-container>
            </td>
            <td>
                <div class="alert alert-success" id="buy_order_alert" *ngIf="tempBuyId">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  ID For your order
                  <b>{{tempBuyId}}</b>
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container>
                <input mdInput type="number" id="price" name="price"
                       [(ngModel)]="buyOrder.price" placeholder="Price">
              </md-input-container>
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-success" (click)="submitOrder('BUY')">Submit</button>
      </form>
    </md-tab>
    <md-tab label="Sell">
      <h6>Submit Sell Orders</h6>
      <form>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container>
                <input mdInput type="number" id="amount" name="amount"
                       [(ngModel)]="sellOrder.amount" placeholder="Amount">
              </md-input-container>
            </td>
            <td>
                <div class="alert alert-success" id="sell_order_alert" *ngIf="tempSellId">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  ID For your order
                  <b>{{tempSellId}}</b>
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container>
                <input mdInput type="number" id="price" name="price"
                       [(ngModel)]="sellOrder.price" placeholder="Price">
              </md-input-container>
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-success" (click)="submitOrder('SELL')">Submit</button>
      </form>
    </md-tab>
    <md-tab label="Your Orders">
      <div *ngIf="orderArray?.length > 0">
      <p-dataTable  [value]="orderArray" [rows]="5" [paginator]="true" [pageLinks]="0" [(selection)]="selectedOrder" dataKey="order"
      styleClass="borderless">
        <p-column field="type" header="Type"
        [style]="{'text-align': 'center'}"></p-column>
        <p-column field="amount" header="Amount"
        [style]="{'text-align': 'center'}"></p-column>
        <p-column field="price" header="price"
        [style]="{'text-align': 'center'}"></p-column>
        <p-column field="filledAmount" header="FilledAmount"
        [style]="{'text-align': 'center'}"></p-column>
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
      </p-dataTable>
      <button type="submit" class="btn btn-danger btn-xs" (click)="cancelOrder()">Cancel</button>
      </div>
      <div *ngIf="orderArray?.length == 0">
          You are yet to enter Orders
      </div>
    </md-tab>
  </md-tab-group>
</div>
