<div class="container-fluid user">
  <p-growl [value]="msgs"></p-growl>
  <div class="row">
    <button class="btn col-md-6" [ngClass]="(selectedType==='BUY')?'btn-success':'btn-white'"
            (click)="selectType('BUY')">BUY</button>
    <button class="btn col-md-6" [ngClass]="(selectedType==='SELL')?'btn-danger':'btn-white'"
            (click)="selectType('SELL')">SELL</button>
  </div>
  <div class="row">
    <form class="interaction-form">
      <div *ngIf="(selectedType === 'BUY')">
        <md-input-container class="full-width">
          <span class="suffix" md-suffix>ETH</span>
          <input mdInput type="number" id="amount" name="amount"
          [(ngModel)]="buyOrder.amount" placeholder="Amount">
        </md-input-container>
        <md-input-container class="full-width">
          <span class="suffix" md-suffix>USD</span>
          <input mdInput type="number" id="price" name="price"
          [(ngModel)]="buyOrder.price" placeholder="Price">
        </md-input-container>
        <button type="submit" class="btn btn-success col-md-12" (click)="submitOrder('BUY')">
          PLACE BUY ORDER
        </button>
      </div>
      <div *ngIf="(selectedType === 'SELL')">
        <md-input-container class="full-width">
          <span class="suffix" md-suffix>ETH</span>
          <input mdInput type="number" id="amount" name="amount"
                 [(ngModel)]="sellOrder.amount" placeholder="Amount">
        </md-input-container>
        <md-input-container class="full-width">
          <span class="suffix" md-suffix>USD</span>
          <input mdInput type="number" id="price" name="price"
                 [(ngModel)]="sellOrder.price" placeholder="Price">
        </md-input-container>
        <button type="submit" class="btn btn-danger col-md-12" (click)="submitOrder('SELL')">
          PLACE SELL ORDER
        </button>
      </div>
    </form>
  </div>
  <div class="row top10">
      <div>Open Orders</div>
      <div *ngIf="orderArray?.length > 0">
      <p-dataTable  [value]="orderArray" [rows]="8" [paginator]="true" [pageLinks]="0" [(selection)]="selectedOrder" dataKey="order"
      styleClass="borderless" tableStyleClass="prime-table">
        <p-column field="type" header="Type" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="amount" header="Amount" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="price" header="Price" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="filled" header="Filled" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="status" header="Status" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column [style]="{'width':'30px'}" selectionMode="single"></p-column>
      </p-dataTable>
      <button type="submit" class="btn btn-danger btn-xs" (click)="cancelOrder()">Cancel</button>
      </div>
      <div *ngIf="orderArray?.length == 0">
          You are yet to enter Orders
      </div>
  </div>
</div>
