<div class="container-fluid user">
  <p-growl [value]="msgs"></p-growl>
  <div class="row">
    <md-tab-group>
      <md-tab label="Buy">
        <h6>Submit Buy Orders</h6>
        <form>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <md-input-container>
                  <input mdInput type="number" id="amount" name="amount"
                         [(ngModel)]="buyOrder.amount" placeholder="Amount">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container>
                  <input mdInput type="number" id="price" name="price"
                         [(ngModel)]="buyOrder.price" placeholder="Price">
                </md-input-container>
              </td>
            </tr>
          </table>
          <button type="submit" class="btn btn-success" (click)="submitOrder('BUY')">Submit</button>
        </form>
      </md-tab>
      <md-tab label="Sell">
        <h6>Submit Sell Orders</h6>
        <form>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <md-input-container>
                  <input mdInput type="number" id="amount" name="amount"
                         [(ngModel)]="sellOrder.amount" placeholder="Amount">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container>
                  <input mdInput type="number" id="price" name="price"
                         [(ngModel)]="sellOrder.price" placeholder="Price">
                </md-input-container>
              </td>
            </tr>
          </table>
          <button type="submit" class="btn btn-success" (click)="submitOrder('SELL')">Submit</button>
        </form>
      </md-tab>
    </md-tab-group>
  </div>
  <div class="row top10">
      <div>Open Orders</div>
      <div *ngIf="orderArray?.length > 0">
      <p-dataTable  [value]="orderArray" [rows]="8" [paginator]="true" [pageLinks]="0" [(selection)]="selectedOrder" dataKey="order"
      styleClass="borderless" tableStyleClass="prime-table">
        <p-column field="type" header="Type"></p-column>
        <p-column field="amount" header="Amount"></p-column>
        <p-column field="price" header="price"></p-column>
        <p-column field="filledAmount" header="FilledAmount"></p-column>
        <p-column [style]="{'width':'30px'}" selectionMode="single"></p-column>
      </p-dataTable>
      <button type="submit" class="btn btn-danger btn-xs" (click)="cancelOrder()">Cancel</button>
      </div>
      <div *ngIf="orderArray?.length == 0">
          You are yet to enter Orders
      </div>
  </div>
</div>
