<div class="row">
	<div class="col-md-4">
				<h4 class="text-nowrap">Buy Orders</h4>
				<ag-grid-ng2 #orderbidgrid class="ag-bootstrap" 
					style="height: 400px; width: 200px;" 
					[columnDefs]="orderBidColumns"  
					[rowData] = "bids"></ag-grid-ng2>
			
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4">
				<h4 class="text-nowrap">Sell Orders</h4>
				<ag-grid-ng2 #orderaskgrid class="ag-bootstrap" 
					style="height: 400px; width: 200px;" 
					[columnDefs]="orderAskColumns"  
					[rowData] = "asks"></ag-grid-ng2>
			
	</div>
</div>
