<div class="container-fluid top30">
  <p-dataTable [value]="orderHistory" [rows]="12" [paginator]="true" [pageLinks]="0">
      <p-header>Trade History</p-header>
      <p-column field="timestamp" header="Timestamp" [sortable]="true"
      [style]="{width: '50px', 'text-align': 'center'}">
        <template let-col let-data="rowData" pTemplate type="body">
          <span>{{data.timestamp | date: 'HH:mm:ss'}}</span>
        </template>
      </p-column>
      <p-column field="amount" header="Amount" [sortable]="true"
      [style]="{width: '50px', 'text-align': 'center'}"></p-column>
      <p-column field="price" header="Price" [sortable]="true"
      [style]="{width: '50px', 'text-align': 'center'}"></p-column>
  </p-dataTable>
</div>
