<div class="container-fluid">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#buy">Buy Orders</a></li>
	  <li><a data-toggle="tab" href="#sell">Sell Orders</a></li>
	  <li><a data-toggle="tab" href="#balance">Balance</a></li>
	</ul>
	<div class="tab-content ">
		<div class="tab-pane active" id="buy">
			<p>Submit New Buy Orders</p>
			<form class="form-horizontal">
				<div class="form-group">
	        		<label for="amount" class="control-label col-sm-2">Buy</label>
	        		<div class="col-sm-10">
	        			<input type="text" class="form-control" id="amount" required>
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label for="price" class="control-label col-sm-2">Price</label>
	        		<div class="col-sm-10">
	        			<input type="text" class="form-control" id="price" required>
	        		</div>
	      		</div>
	      		<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="tab-pane" id="sell">
			<p>Submit New Sell Orders</p>
		</div>
		<div class="tab-pane" id="balance">
			<p>Balance of the User</p>
		</div>
	</div>
</div>