<div class="container-fluid">
		<!-- Nav tabs -->
			<div class="card" id="userinput">
				<ul class="nav nav-tabs" role="tablist" >
					<li role="presentation" class="active"><a href="#buy" aria-controls="buy" role="tab" data-toggle="tab">Buy</a></li>
					<li role="presentation"><a href="#sell" aria-controls="sell" role="tab" data-toggle="tab">Sell</a></li>

				</ul>
		<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="buy">
						<h6>Submit Buy Orders</h6>
						<form>
				      <div class="form-group label-floating">
				        <label class="control-label" for="amount">Amount</label>
				        <input type="text" class="form-control" id="amount"
								[(ngModel)] = "buyOrder.amount" required>
				      </div>
				      <div class="form-group label-floating">
				        <label class="control-label" for="price">Price</label>
				        <input type="text" class="form-control" id="price"
								[(ngModel)] = "buyOrder.price" required="">
				      </div>
				      <button type="submit" class="btn btn-success">Submit</button>
				    </form>
					</div>
					<div role="tabpanel" class="tab-pane" id="sell">
						<h6>Submit Sell Orders</h6>
						<form>
				      <div class="form-group label-floating">
				        <label class="control-label" for="amount">Amount</label>
				        <input type="text" class="form-control" id="amount"
								[(ngModel)] = "sellOrder.amount" required>
				      </div>
				      <div class="form-group label-floating">
				        <label class="control-label" for="price">Price</label>
				        <input type="text" class="form-control" id="price"
								[(ngModel)] = "sellOrder.price" required="">
				      </div>
				      <button type="submit" class="btn btn-success">Submit</button>
				    </form>
					</div>
				</div>
			</div>
</div>
