<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img alt="{{altText}}" src="{{imageUrl}}" height="50" width="90">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">

	    </ul>
	    <form class="navbar-form navbar-left">

	        <div class="form-group">
	        	<label for="markets">Markets</label>
  				<select class="form-control" id="markets"
  				required
  				[(ngModel)]="selectedMarket" name="marketselector" #marketselect>
	    			<option *ngFor="let market of markets" [value]="market">
	    			{{market}}
	    			</option>
  				</select>

	        </div>
      </form>
      <p class="navbar-text">Decentralised Exchange based on Raiden</p>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
      <div class="row">
  			<rex-user-interact></rex-user-interact>
  			<!-- <rex-order-history [market]="selectedMarket"></rex-order-history> -->
      </div>
      <div class="row">
        <rex-orderhistory-table></rex-orderhistory-table>
      </div>
		</div>
		<div class="col-md-2">
		    <rex-orderbook-table></rex-orderbook-table>
		</div>
		<div class="col-md-6">
			<rex-zing-pricechart-component></rex-zing-pricechart-component>
      <rex-zing-depthchart-component></rex-zing-depthchart-component>
		</div>
	</div>
</div>
