<div class="container-fluid user">
  <p-growl [value]="msgs"></p-growl>
  <div class="row">
    <button class="btn col-md-6" [ngClass]="(selectedType==='BUY')?'btn-success':'btn-white'"
            (click)="selectType('BUY')">BUY
    </button>
    <button class="btn col-md-6" [ngClass]="(selectedType==='SELL')?'btn-danger':'btn-white'"
            (click)="selectType('SELL')">SELL
    </button>
  </div>
  <div class="row">
    <form class="interaction-form">
      <div *ngIf="(selectedType === 'BUY')">
        <mat-form-field class="full-width">
          <span class="suffix" matSuffix>RTT</span>
          <input matInput type="number" id="amount" name="amount"
                 [(ngModel)]="buyOrder.amount" placeholder="Amount">
        </mat-form-field>
        <mat-form-field class="full-width">
          <span class="suffix" matSuffix>WETH</span>
          <input matInput type="number" id="price" name="price"
                 [(ngModel)]="buyOrder.price" placeholder="Price">
        </mat-form-field>
        <div class="full-width">
          <span class="suffix" matSuffix>total amount to spend</span>
          <p class="suffix">{{buyOrder.totalAmount}}
            <span class="suffix" matSuffix>WETH</span>
          </p>
        </div>
        <button type="submit" class="btn btn-success col-md-12" (click)="submitOrder('BUY')">
          PLACE BUY ORDER
        </button>
      </div>
      <div *ngIf="(selectedType === 'SELL')">
        <mat-form-field class="full-width">
          <span class="suffix" matSuffix>RTT</span>
          <input matInput type="number" id="amount" name="amount"
                 [(ngModel)]="sellOrder.amount" placeholder="Amount">
        </mat-form-field>
        <mat-form-field class="full-width">
          <span class="suffix" matSuffix>WETH</span>
          <input matInput type="number" id="price" name="price"
                 [(ngModel)]="sellOrder.price" placeholder="Price">
        </mat-form-field>
        <div class="full-width">
          <span class="suffix" matSuffix>total amount to receive</span>
          <p class="suffix">{{sellOrder.totalAmount}}
            <span class="suffix" matSuffix>WETH</span>
          </p>
        </div>
        <button type="submit" class="btn btn-danger col-md-12" (click)="submitOrder('SELL')">
          PLACE SELL ORDER
        </button>
      </div>
    </form>
  </div>
  <div class="row top10">
    <div>Open Orders</div>
    <div *ngIf="orderArray?.length > 0">
      <p-dataTable [value]="orderArray"
                   [rows]="8"
                   [paginator]="true"
                   [pageLinks]="0"
                   [(selection)]="selectedOrder"
                   dataKey="order"
                   styleClass="borderless" tableStyleClass="prime-table">
        <!--<p-column field="type" header="Type" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>-->
        <p-column field="shortAmount" header="Amount" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="shortPrice" header="Price" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="filled" header="Filled" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column field="status" header="Status" [style]="{'font-size': '11px', 'text-align': 'right'}"></p-column>
        <p-column [style]="{'width':'30px'}" selectionMode="single"></p-column>
      </p-dataTable>
      <button type="submit" class="btn btn-danger btn-xs" (click)="cancelOrder()">Cancel</button>
    </div>
    <div *ngIf="orderArray?.length == 0">
      You are yet to enter Orders
    </div>
  </div>
</div>
